@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-grafite: var(--grafite);
  --color-terracota: var(--terracota);
  --color-musgo: var(--musgo);
  --color-areia: var(--areia);
  --color-bg: var(--bg);

  --font-inter: 'Inter', sans-serif;
  --font-jetbrains: 'JetBrains Mono', monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--terracota) var(--areia);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--terracota);
  border-radius: 10px;
  border: 2px solid var(--areia);
}
